@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-image: url(../background.jpg);
}

body {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  min-height: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  position: absolute;

}
*:focus{
  outline = none;
main {
  width: 100%;
  min-height: 100%;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.head h1 {
  font-weight: 500;
  text-align: center;
  padding-top: 50px;
}

.head p {
  text-align: center;
  margin: 40px 0 15px 0;
  font-weight: 400;
}

.container {
  height: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-content: center;
}

section option {
  background-color: black;
  color: black;
}

#hour {
  height: 40px;
  width: 80px;
  margin-right: 8px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  transition: 0.2s ease;
}

#hour option:not(disabled) {
  background: #000;
}

#minute {
  height: 40px;
  width: 100px;
  margin: auto;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  transition: 0.2s ease;


}

#minute option:not(disabled) {
  background: #000;
}


#calculate-button {
  height: 40px;
  background: transparent;
  color: #fff;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #d9f1ff 2px;

  border-radius: 6px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;

  text-decoration: none;
  transition: 0.2s ease;

}

#calculate-button:hover {
  text-decoration: none;
  border-color: #2885ff;
}

#hour:hover:active {
  border-color: #2885ff;
}

#minute:hover:active {
  border-color: #2885ff;
}

.now {
  margin: 0 4px 0 4px;
  text-align: center;
}

#now {
  height: 40px;
  margin: 10px 0;
  background: transparent;
  color: #fff;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #d9f1ff 2px;
  text-decoration: none;
  transition: 0.2s ease;
}

#now:hover {
  text-decoration: none;
  border-color: #2885ff;
  color: #d9f1ff;
}

#output-text {
  text-align: center;
  margin: 30px 10px 20px 10px;
  font-size: 22px;
}


footer {
  margin-top: 10px;
  bottom: 0px;
  width: 100%;
  position: absolute;
}

footer h4 {
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
}
